<html>
<head>
<style>
            body  {
              background-image: url(https://static1.squarespace.com/static/55464188e4b015ca71996118/t/5900b857a13df0c06e35ae6a/1493219457474/giphy.gif?format=1500w);
              
            }
</style>
<style>
            body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 20px;
            color: #99e6ff;    // Changed
            }
      </style>
</head>

<body>
<% if @user %>
  <%= form_with(url: '/sessions', method: :delete) do |f| %>
    <%= f.submit "Log out" %>
  <% end %>
<% else %>
  <h2>Please enter your username and password:</h2>
  <%= form_with(url: '/sessions', method: :post) do |f| %>
      <div class="form-group">
          <%= f.label "Username" %>
          <%= f.text_field :username %>
      </div>
      <div class="form-group">
          <%= f.label "Password" %>
          <%= f.password_field :password %>
      </div>
      <%= f.submit "Log in"%>
  <% end %>
  <br>
  <h2><%= link_to "Or please create an account with Foobartender", new_user_path %></h2>


<% end %>
</body>