<h2>Create a New Recipe:</h2>

<%= form_with url: '/recipes/new', model: @recipe do |f|%>
    <label>Enter the name:</label>
    <%= f.text_field :name %><br>

    <label>Description:</label>
    <%= f.text_area :description %><br>

    <ul>

      <%= f.fields_for :ingredients do |ingredient| %>
      <li>
        <%= ingredient.label :name %>
        <%= ingredient.text_field :ingredient_name %>
        <%= ingredient.label :amount %>
        <%= ingredient.text_field :amount %>
      </li>
      <%= f.submit "Add Ingredient" %>
      <% end %>
    </ul>

    <label>Instructions:</label>
    <%= f.text_area :instructions%><br>

    <label>Choose the Glass type: </label>
    <%= f.collection_select :glass_type, @glasses, :glass_type, :glass_type %><br>

    <label>Choose the Category:</label>
    <%= f.collection_select :category, @categories, :category, :category %><br>

    <%= f.submit "Create Recipe"%>

<% end %>



    <% byebug %>
    <% if @recipe_ingredients != nil %>
      <% @recipe_ingredients.each do |r_i| %>
      <% byebug%>
        <li>
          Name: <%=r_i.ingredient.name%>, Amount: <%=r_i.amount%>
        </li>
      <% end %>
    <% end %>
