<html>
<head>
<style>
            body  {
              background-image: url(https://1eican1u2cuw7g1kw7btt2xy-wpengine.netdna-ssl.com/wp-content/uploads/buenos-aires-bars-bar-top-best.gif);

            }
</style>
</head>

<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>-->
      <ul class="nav navbar-nav">
      <% if @self == true %>
            <%= link_to "Edit your account details", edit_user_path(@user) %>
            <%= form_tag "/users/#{@user.id}", method: "delete" do %>
                <%= submit_tag "Delete your account" %>
            <% end %>
      <% end %>
      
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <!--<div class="center_background">-->
  <style>
    body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #99e6ff;    // Changed
    }
  </style>
  <h2>User Profile</h2>
  <p> Username: <%= @user.username %>
  <p> First Name: <%= @user.first_name%>
  </div>
</div>



<div class="container">
  <div class="row">



    <div class="col-sm-4">
      <div class="left_background">
      <style>
            body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 20px;
            color: #99e6ff;    // Changed
            }
      </style>
      <h5>Ingredients </h5>

       <ul>
            <%= link_to "Click here for all our ingredients", ingredients_path %><br>
       </ul>
       <h6>Ingredients in your bar:</h6>
          <% @ingredients.each do |ing| %>

            <li><%= link_to ing.name, ing %>
          <% end %>
        </div>
    </div>

    <div class="col-sm-4">
      <div class="center_background">
      <style>
            body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 30px;
            line-height: 20px;
            color: #00000;    // Changed
            }
      </style>
       <h5>Recipes </h5>
       <ul>
            <%= link_to "Click here for all our recipes", recipes_path %><br>
          <h6>Possible cocktails with ingredients from your bar:</h6>

          <% @possible_recipes.each do |rec| %>
                <p><li><%= link_to rec.name, rec %></li></p>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="right_background">
      <style>
            body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 20px;
            color: #99e6ff;    // Changed
            }
      </style>
        <h5>History of recipes you saved:</h5>
            <ul>
              <% @recipes.each do |rec| %>
                <li><%= link_to rec.name, rec %></li>
              <% end %>
            </ul>
        </div>
    </div>


  </div>
</div>
<br>





</body>
</html>
