<h2>User Profile:</h2>
<p> Username: <%= @user.username %>
<p> First Name: <%= @user.first_name%>

<h3>Your bar:</h3>
<ul>
  <% @ingredients.each do |ing| %>
    <li><%= link_to ing.name, ing %></li>
  <% end %>
</ul>

<h3>With these ingredients, you can make these cocktails:</h3>
<ul>
  <% @possible_recipes.each do |rec| %>
    <li><%= link_to rec.name, rec %></li>
  <% end %>
</ul>

<h3>Your saved recipes:</h3>
<ul>
  <% @recipes.each do |rec| %>
    <li><%= link_to rec.name, rec %></li>
  <% end %>
</ul>
