


<body>
<div class="jumbotron text-center">
  <h2>User Profile</h2>
  <p> Username: <%= @user.username %>
  <p> First Name: <%= @user.first_name%>
</div>



<div class="container">
  <div class="row">

  

    <div class="col-sm-4">

      <h5>Ingredients</h5>
       <p> These are the available ingredients:</p>
       <%= link_to "Ingredients", ingredients_path %>
          <% @ingredients.each do |ing| %>
            <p><li><%= link_to ing.name, ing %></p>
          <% end %>

    </div>

    <div class="col-sm-4">
       <h5>Recipes</h5>
        <p>With these ingredients, you can make these cocktails:</p>
         <%= link_to "Recipes", recipes_path %><br>
            <ul>
                <% @possible_recipes.each do |rec| %>
                 <p><li><%= link_to rec.name, rec %></li></p>
                <% end %>
            </ul>
    </div>


    <div class="col-sm-4">
        <h5>Your saved recipes</h5>
            <ul>
              <% @recipes.each do |rec| %>
                <li><%= link_to rec.name, rec %></li>
              <% end %>
            </ul>
    </div>

   
  </div>
</div>

</body>
