
<!DOCTYPE html>
<html lang="en">
<head>
<style>
            body  {
              background-image: url(https://goop.com/wp-content/uploads/1999/06/01-goop_KetelOne_Hibiscus_Seabreeze-Hero.gif);
              
            }
</style>
</head>
<body>

<div class="jumbotron text-center">
      <div class="title_background">
      
      <h2>Ingredient Info</h2>

      <p>Name: <%= @ingredient.name %>
      <p>Type: <%= @ingredient.ingredient_type %>


      <% if @user.ingredients.include?(@ingredient)%>
        <h3><%= "This ingredient is in your bar"%></h3>
      <% else%>
        <%= form_with(url: "/add_ingredient/#{@ingredient.id}", method: :post) do |f| %>
          <%= f.submit "Add this ingredient to your bar"%>
        <% end %>
      <% end %>
</div>
</div>


<h3>Drinks that include <%= @ingredient.name %></h3>
<ul>
  <% @recipes.each do |rec| %>
    <li>
      <%= link_to rec.name, recipe_path(rec) %>
    </li>
  <% end %>
</ul><br>

<h3>How famous is this ingredient</h3>
  <ul>
  <%= "No of recipes having this ingredient: "%>
  <%=  @ingredient.recipe_count %>
  </ul>
  



