<!DOCTYPE html>
<html>
  <head>
    <title>Cocktailor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    Cocktailor-
    <%= link_to "Recipes", recipes_path%>
    ||
    <%= link_to "Ingredients", ingredients_path%>
  </header>

  <style>

    .login_background{
        width:15%;
        height:absolute;
        background-color:rgba(0,0,0,1);
        text-align:left;
        color:white;
      }
  </style>

  <body>
  <% if notice %>
        <p class="notice"><%= notice %></p>
    <% elsif alert %>
        <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
<!--

  </body>
  <footer>
    <br>
    <br>
    <%= link_to "Recipes", recipes_path %><br>
    <%= link_to "Ingredients", ingredients_path %>

  </footer>
</html>

-->
